@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #5044E5;
  --font-manrope: 'Manrope', sans-serif;
}

* {
  box-sizing: border-box;
  font-family: var(--font-manrope);
  cursor: none;
}






/* @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
*{

  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
}
@theme{
  --color-primary: #5044E5;
} */